@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--light-brown: #E4B7A0;
	--mid-brown: #C38370;
	--dark-brown: #A45C40;
	--white-50: rgba(224, 252, 255, 0.5);
	--white-75: rgba(224, 252, 255, 0.75);
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat';
}

body {
	background-color: var(--light-brown);
	color: var(--dark-brown);
	height: 100vh;
	overflow: hidden;
}

.decorator {
	position: fixed;
	width: 100%;
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

header .decorator {
	top: 0px;
}

#logo {
	width: 150px;
	position: fixed;
	top: 30px;
	left: 30px;
}

#menuIcon {
	width: 80px;
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 2;
}

#menuIcon.closeIcon {
	content:url("images/menu-icon-close.svg");
}

#menu {
	position: fixed;
	width: 100%;
	color: var(--white-75);
	background-color: var(--dark-brown);
	border-radius: 0px 0px 50px 50px;
	z-index: -1;
	right: -100vw;
	transition-duration: 250ms;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#menu.displayed {
	right: 0px;
}

#menu ul {
	margin-top: 140px;
	margin-right: 50px;
	list-style: none;
	margin-bottom: 50px;
	text-align: right;
}

#menu ul li {
	font-size: 3.5rem;
	line-height: 6rem;
	width: 30%;
	margin-left: auto;
}

#menu ul li:not(:last-child) {
	border-bottom: 1px solid var(--mid-brown);
}

footer .decorator {
	transform: rotate(180deg);
	bottom: -2px;
}

footer .social {
	position: fixed;
	width: 80px;
	z-index: 2;
}

#instagram {
	right: 50px;
	bottom: 125px;
}

#facebook {
	right: 125px;
	bottom: 50px;
}

main {
	height: 100vh;
	width: 100vw;
	position: relative;
}

main h2 {
	position: absolute;
	top: 30%;
	right: 20%;
	text-align: right;
	font-size: 5rem;
	line-height: 6rem;
	font-family: 'Special Elite';
	font-weight: 100;
}

#treeImage {
	height: 50vh;
	position: absolute;
	bottom: 0px;
	right: 0px;
}